<h1>Update Profile</h1>

<%= form_for @current_user, url: "/users/#{@current_user.id}/update" do |f| %>
What would you like us to call you?
<br>
<%= f.text_field :name %>
<br>
<br>

What is your favorite podcast?
<br>
<%= f.text_field :podcast %>
<br>
<br>
Select your favorite pizza topping:
<br>
<%= f.select(:pizza_topping, ['mushroom', 'pepperoni', 'broccolini', 'squash blosssoms']) %>
<br>
<br>
If you were a character on "Mad Men", who would you be?
<br>
<%= f.text_field :character %>

<br>
<br>

<%= f.label :email %>
<%= f.email_field :email %>
<br>
<%= f.label :password %>
<%= f.password_field :password %>
<br>
<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation %>
<br>
<br>
Attach a profile photo:
<%= f.file_field :image %>  

<br>
<br>

<%= f.submit "Update Profile" %>
<% end %>