<!DOCTYPE html>
<html>
<head>
  <title>Super Restaurant Review</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div><%= flash[:notice] %></div>

  <% if @current_user %>
  <div>
    Welcome, <%= @current_user.email %>
    <br>
    <a href="/logout">Logout</a>
    <br>
  </div>
  <br>
  <% else %>
  <div>
    <a href="/signup">Signup</a>/
    <a href='/login'>Login</a>
    <% end %>
  
  
<%= yield %>
  
  Number of pageviews: <%= @pageviews %>

</body>
</html>
